@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 30px 100px;
  padding: 0;
  background-color: #f0f0f0;
}

h2, h1 {
  padding: 0;
}

span {
  color: #083D77;
}
.header, .header-info {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 40rem;
  margin: 20px 20px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.3);
  border-radius: 20px;
}

.i-card {
  width: 88rem;
  margin: 20px 20px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.3);
  border-radius: 20px;
}

.card h2,
.container h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
}

.pLang ul {
  list-style: none;
  padding: 0;
}

.hobbies ol li {
  margin-bottom: 10px;
}

.pLang ul li {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

.pLang ul .cs {
  background-color: #512bd4;
  color: white;
}

.pLang ul .kt {
  background-color: #E24462;
  color: white;
}

.pLang ul .js {
  background-color: #F0DB4F;
}

.pLang ul .pyc {
  background-color: green;
  color: white;
}

img {
  width: 100%;
}

.t-card {
  width: 88rem;
  margin: 20px 20px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.3);
  border-radius: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table caption {
  margin-bottom: 16px;
}

th {
  background-color: #083D77;
  color: white;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.card, 
.i-card, 
.t-card {
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover, 
.i-card:hover, 
.t-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}


.card .hobbies li:hover {
  color: #083D77;
  font-weight: bold;
}

.card .pLang li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}